<div class="container-fluid header">
    <div class="row ">
        <div class="col title">
            <i class="pi pi-bars"></i>
            <span>ARMAx</span>
        </div>
        <div class="col text-center">158.5 MW Solar Power Plant</div>
        <div class="col text-right header-right-icons">
            <ul>
                <li>
                    <i class="pi pi-ticket"></i>
                </li>
                <li>
                    <i class="pi pi-print"></i>
                </li>
                <li>
                    <i class="pi pi-cog"></i>
                </li>
                <li class="notification">
                    <i class="pi pi-bell"></i>
                    <span class="badge badge-pill badge-danger">1056</span>
                </li>
                <li>
                    <i class="pi pi-user"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
