:host {
    header {
        background: #555965;
        color: #fff;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    section {
        margin: 2em;  
        height: 450px;
        background-color: #fff;
        font-size: 12px !important;
        border-bottom-left-radius: 0.5em;
 border-bottom-right-radius: 0.5em;
    }
}