<app-header></app-header>
<app-header-paletee></app-header-paletee>
<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-6">
            <app-real-time-monitoring></app-real-time-monitoring>
        </div>
        <div class="col-6">
            <app-inverter-heat-map></app-inverter-heat-map>
        </div>
        <div class="col-6 my-4">
            <app-events-panel></app-events-panel>
        </div>
        <div class="col-6 my-4">
            <app-control-status></app-control-status>
        </div>
    </div>
</div>
